<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AcademicOrbit2</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProfessorServlet</display-name>
    <servlet-name>AddProfessorServlet</servlet-name>
    <servlet-class>controller.AddProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfessorServlet</servlet-name>
    <url-pattern>/AddProfessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfessorServlet</display-name>
    <servlet-name>EditProfessorServlet</servlet-name>
    <servlet-class>controller.EditProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfessorServlet</servlet-name>
    <url-pattern>/EditProfessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfessorServlet</display-name>
    <servlet-name>DeleteProfessorServlet</servlet-name>
    <servlet-class>controller.DeleteProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfessorServlet</servlet-name>
    <url-pattern>/DeleteProfessorServlet</url-pattern>
  </servlet-mapping>
</web-app>